# general files to ignore
.DS_Store
*.jpg
*ipynb_checkpoints*
*.pyc

# ignore downloaded data and statistics
*.csv
*.out
*.stats
*.txt
*.tar

# ignore tensorflow models
*.cfg
*.pickle
*.tflite


# ignore pytorch models
*.snapshot
*.pb
*.metadata

# ignore all wandb files
wandb/*
*.pt
outputs/*
